[optimizer.problem]
disable_all_safety_checks = false

[optimizer.solver]
minimizer_type = "trust_region"
line_search_direction_type = "lbfgs"
line_search_type = "wolfe"
nonlinear_conjugate_gradient_type = "fletcher_reeves"
max_lbfgs_rank = 20
use_approximate_eigenvalue_bfgs_scaling = false

# Line search parameters.
line_search_interpolation_type = "cubic"
min_line_search_step_size = 1e-9
line_search_sufficient_function_decrease = 1e-4
max_line_search_step_contraction = 1e-3
min_line_search_step_contraction = 0.6
max_num_line_search_step_size_iterations = 20
max_num_line_search_direction_restarts = 5
line_search_sufficient_curvature_decrease = 0.9
max_line_search_step_expansion = 10.0

trust_region_strategy_type = "levenberg_marquardt"
dogleg_type = "traditional_dogleg"
use_nonmonotonic_steps = false
max_consecutive_nonmonotonic_steps = 5
max_num_iterations = 50
max_solver_time_in_seconds = 1e9
num_threads = 1

# Trust region minimizer settings.
initial_trust_region_radius = 1e4
max_trust_region_radius = 1e16
min_trust_region_radius = 1e-32
min_relative_decrease = 1e-3
min_lm_diagonal = 1e-6
max_lm_diagonal = 1e32
max_num_consecutive_invalid_steps = 5
function_tolerance = 1e-6
gradient_tolerance = 1e-10
parameter_tolerance = 1e-8

# Linear least squares solver options
linear_solver_type = "sparse_normal_cholesky"
preconditioner_type = "jacobi"
visibility_clustering_type = "canonical_views"
dense_linear_algebra_library_type = "eigen"
sparse_linear_algebra_library_type = "suite_sparse"
linear_solver_ordering_type = "amd"
use_explicit_schur_complement = false
dynamic_sparsity = false
use_mixed_precision_solves = false
max_num_refinement_iterations = 0
min_linear_solver_iterations = 0
max_linear_solver_iterations = 500
max_num_spse_iterations = 5
use_spse_initialization = false
spse_tolerance = 0.1
eta = 1e-1
jacobi_scaling = true
use_inner_iterations = false
inner_iteration_tolerance = 1e-3
logging_type = "per_minimizer_iteration"
minimizer_progress_to_stdout = false
trust_region_problem_dump_directory = "/tmp"
trust_region_problem_dump_format_type = "textfile"

# Finite differences options
check_gradients = false
gradient_check_relative_precision = 1e-8
gradient_check_numeric_derivative_relative_step_size = 1e-6
update_state_every_iteration = false


# NOTE(Jack): The following options were exlcuded due to their percieved complexity - they seem like the user would need
# to know details about the problem itself which would only be available in the source code or during the execution. We
# can revisit this decision later!
#
#   residual_blocks_for_subset_preconditioner =
#   linear_solver_ordering =
#   trust_region_minimizer_iterations_to_dump =
#   inner_iteration_ordering =