build
dash
# TODO(Jack): We use this 2021 version of Kaleido because it does not require a google chrome installation for
# rendering. Does this introduce any risks or problems for us?
kaleido==0.2.1
numpy
pandas
plotly
reportlab
scipy
setuptools

# Protobuf deps
grpcio
grpcio-tools
protobuf
